.menu-item {
  display: flex;
  align-items: center;
  padding: 3.125rem 0;
  border-bottom: 1px solid rgba(210, 210, 210, 1);
}

.menu-item__emoji {
  margin-right: 2rem;
  font-size: 4.8rem;
}

.menu-item__title {
  font-size: 1.75rem;
  font-weight: 400;
}
