*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-smythe: "Smythe", system-ui;
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-smythe);
}

input,
img,
button {
  display: block;
}
