.u-container {
  width: 85%;
  max-width: 31.75rem;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.u-list-reset {
  list-style: none;
  padding-left: 0;
}

.u-fw-400 {
  font-weight: 400;
}
