.checkout {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: fit-content;
  background-color: white;
  width: 90%;
  max-width: 524px;
  padding: 3rem 1.8rem;
  box-shadow: 5px 5px 70px rgba(0, 0, 0, 0.4);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.checkout__title {
  font-size: 1.5rem;
  padding-left: 5rem;
  margin-bottom: 2.8rem;
}

.checkout__input {
  width: 100%;
  font-family: inherit;
  padding: 1rem 1.6rem;
  border: solid 1.3px rgba(117, 117, 117, 1);
  font-size: 1.25rem;
  margin-bottom: 1.4rem;
}

.checkout__btn {
  margin-top: 2.8rem;
}
