.header {
  position: relative;
  color: white;
  padding: 3.5rem 0;
}

.header__title {
  font-weight: 400;
}

.header__sub {
  font-size: 1.4rem;
}

.header__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
